*{
    transition: 1s;
    margin: 0;
    padding: 0;
    font-family: 'monospace';
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.328);
    padding: 8px 100px;
}
nav img{
    object-fit: contain;
    width: 50px;
    height: 50px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    list-style-type: none;
}
nav button{
    padding: 7px 25px;
    color: white;
    background-color: black;
}